@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}


<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")

<div class="ui container">
    <div class="ui segment">
        <div class="ui two column very relaxed grid">
            <div class="column">
                <form class="ui form">
                    <div class="field">
                        <label for="nome">Nome</label>
                        <input name="nome" id="nome" type="text" placeholder="Nome">
                    </div>
                    <div class="field">
                        <label for="email">E-mail</label>
                        <input name="email" id="email" type="email" placeholder="email@email.com">
                    </div>
                    <div class="field">
                        <label for="phone">Telefone</label>
                        <input name="phone" id="phone" type="tel" placeholder="xx xxxxx-xxxx" required>
                    </div>
                    <div class="field">
                        <label for="ass">Assunto</label>
                        <input name="ass" id="ass" type="text" placeholder="Assunto">
                    </div>
                    <div class="field">
                        <label for="msg">Mensagem</label>
                        <textarea name="msg" id="msg" rows="10" placeholder="Mensagem"></textarea>
                    </div>

                    <div class="ui error message"></div>
                    <div class="ui submit button">Submit</div>
                    <div class="ui primary button" id="reload">Reload</div>
                    <div class="ui clear red button" id="clear">Limpar</div>

                </form>
            </div>
            <div class="column">
                <div id="Dados">
                    <div id="nameexit"></div>
                    <div id="emailexit"></div>
                    <div id="phoneexit"></div>
                    <div id="assexit"></div>
                    <div id="msgexit"></div>

                </div>
            </div>
        </div>
        <div class="ui vertical divider">
            🢂
        </div>
    </div>
</div>





<!-- ~/Views/Shared/Blocks/Banner/_FooterHalfBanner.cshtml -->
@Html.Action("FooterHalfBanner", "Banner")

